---
import { getCollection, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("allPosts");

  return posts.map((post) => {
    return {
      params: { slug: post.id },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);

export const prerender = true;
---

<Layout class="container m-auto px-6 md:w-[80%]" title=`CCS Internal Docs | ${post.data.title}`>
  <h1>{post.data.title}</h1>
  <article headingoffset="1" class="prose max-w-none">
    <Content />
  </article>
</Layout>
