---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("allPosts");
---

<Layout class="container m-auto px-6 md:w-[80%]" title="CCS Internal Docs | Docs Index">
  <h1>記事一覧</h1>
  <ul>
    {
      posts.map((post) => {
        return (
          <li>
            <a href={`/docs/${post.id}`}>
              {post.data.title}
              {post.data.description && <p>{post.data.description}</p>}
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
