---
import Layout from "../layouts/Layout.astro";

export const prerender = false;
---

<Layout
  class="mx-auto mt-10 flex w-full max-w-5xl items-start md:mt-0 md:mb-10 md:items-center lg:mb-[15%]"
  title="CCS Internal Docs | 404 not found"
>
  <div
    class="flex w-full flex-col items-start gap-x-6 gap-y-8 px-5 md:px-10 lg:flex-row lg:items-center lg:justify-between"
  >
    404 not found
  </div>
</Layout>
