---
import "../styles/global.css";

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="CCS Internal Docs" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <main class:list={["flex-1", className]}>
      <slot />
    </main>
  </body>
</html>
